$pink: #f38181;
$yellow: #fce38a;
$pistachio: #eaffd0;
$mint: #95e1d3;
$white: #ffffff;
$black: #000000;
$dark_grey: #333333;
$light_grey: #999999;
$ligh_grey2: #e5e5e5;
$transition-fn: cubic-bezier(0.4, 0, 0.2, 1);
