@use "../variables" as *;
@use "../fonts" as *;
@use "../mixins" as *;

.services {
  &__container {
    max-width: 480px;
    margin: 0 auto;
  }

  &__title {
    font-size: 30px;
    font-family: $primary_font;
    color: $dark_grey;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;

    &::after {
      content: "";
      display: block;
      background-color: $pink;
      width: 60px;
      height: 3px;
      margin: 0 auto;
      transform: translateY(40px);
    }
  }

  &__subtitle {
    display: block;
    font-size: 24px;
    font-family: $secondary_font;
    color: $dark_grey;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    padding: 45px 0 25px;
  }

  &__content {
    padding-top: 110px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 100px 60px;
  }

  &__item {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    &::before {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -40px);
    }
    &:nth-child(1)::before {
      content: url(../assets/services/clock.svg);
    }
    &:nth-child(2)::before {
      content: url(../assets/services/graph.svg);
    }
    &:nth-child(3)::before {
      content: url(../assets/services/computer.svg);
    }
    &:nth-child(4)::before {
      content: url(../assets/services/book.svg);
    }
    &:nth-child(5)::before {
      content: url(../assets/services/home.svg);
    }
    &:nth-child(6)::before {
      content: url(../assets/services/image.svg);
    }
  }

  &__itemTitle {
    font-size: 14px;
    font-family: $primary_font;
    color: $dark_grey;
    text-transform: uppercase;
    padding-bottom: 20px;
    line-height: 1.2;
    text-align: center;
  }

  &__itemDescription {
    font-size: 15px;
    font-family: $third_font;
    color: $light_grey;
    line-height: 1.6;
    text-align: center;
  }
}

@include devices(tablet) {
  .services {
    &__container {
      max-width: 1200px;
    }

    &__content {
      grid-template-columns: repeat(2, 1fr);
    }

    &__item {
      padding-left: 50px;
      padding-right: 10px;
      &::before {
        left: 0;
        transform: translate(10px, -7px);
      }
    }

    &__itemTitle {
      text-align: left;
    }

    &__itemDescription {
      text-align: left;
    }
  }
}

@include devices(desktop) {
  .services {
    &__content {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      padding-left: 90px;
      padding-right: 0;
      &::before {
        transform: translate(30px, 3px);
      }
    }
  }
}
