@use "../variables" as *;
@use "../fonts" as *;

.socials {
  &__list {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 55px);
    align-items: center;
    justify-content: center;
  }
  &__item {
    transition: 250ms all $transition-fn;
    background-color: $yellow;
    height: 55px;
    &:not(:last-child) {
      border-right: 1px solid $pink;
    }
    &:hover,
    &:focus {
      background-color: $pink;
      .socials__icon {
        filter: brightness(0) saturate(100%) invert(100%) sepia(1%)
          saturate(7431%) hue-rotate(83deg) brightness(114%) contrast(100%);
      }
    }
  }

  &__icon {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) saturate(100%) invert(67%) sepia(52%) saturate(951%)
      hue-rotate(306deg) brightness(98%) contrast(96%);
  }

  &__link {
    display: block;
    height: 100%;
    width: 100%;
  }
}
